.container {
  height: 54px;
  width: 340px;
  border-radius: 8px;
  background-color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 24px;
  cursor: pointer;
}

.container:hover {
  background-color: var(--gray-secondary);
  transition: 0.2s ease-in-out;
}

.placeholder {
  font-weight: var(--Light);
  font-size: 18px;
  color: var(--purple);
}

.arrow {
  display: flex;
  border: 1px solid red;
  width: 18px;
  height: 18px;
}

.menu {
  position: absolute;
  margin-top: 12px;
  border-radius: 12px;
  overflow: hidden;
  max-height: 300px;
  overflow-y: auto;
  z-index: 9999;
}

.menu > div {
  height: 54px;
  width: 340px;
  background-color: var(--gray);
  display: flex;
  align-items: center;
  padding: 0px 24px;
  cursor: pointer;
  font-weight: var(--Light);
  font-size: 20px;
  color: var(--purple);
}

.menu > div:hover {
  background-color: var(--gray-secondary);
  transition: 0.2s ease-in-out;
}
